################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyNotes/NotesDB.db-shm
/MyNotes/NotesDB.db-wal
/MyNotes/bin/

/.vs

**/bin/
**/obj/
